#imageh img{
    
    width: fit-content;
}
#images img{
    padding-top: 30px;
    
    width: fit-content;
}
.about{
    margin: 20px;
}
.about {
    
    padding: 10px;
}


.about h4{
    text-transform: uppercase;
}
.about{
    text-align: center;

}
.about p{
    font-size: medium;
    
}
.about .paragraph p{
    font-size: larger;
    text-align: center;
}
.heading{
    text-transform: uppercase;
    text-align: center;
    
}
.row {
    justify-items: center;
    padding: 20px;
    
}
.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.portfolio{
    justify-items: center;
    
    
}
.portfolio img{
    
    position: relative;
    height: 200px;
}
.last{
    padding-top: 40px;
}
