

/*first background styles*/
.containor .background #imageh {
    position: relative;
    text-align: center;
    color: white;
    
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.containor .background #imageh p{
    font-size: xx-large;
}
.containor .background #imageh .bottom-center img{
    position: absolute;
    bottom: 8px;
    float: inherit;
    
}
/*services image styles*/
.containor .background #images {
    position: relative;
    text-align: center;
    color: white;
    
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.containor .background #images p{
    font-size: large;
}

.containor .background #images h2{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}
/*last background styles*/
#last{
    padding-top: 30px;
    width: fit-content;
}
#last {
    width: max-content;
}
.containor #last h2{
    text-transform: uppercase;
}
.containor #last {
    position: relative;
    text-align: center;
    color: white;
}
.containor #last .top h2{
    position: absolute;
    top: 60px;
    padding-left: 800px;

}
.containor #last  {
    position: relative;
    text-align: center;
    color: white;
}

.containor #last  #formclass {
    position: absolute;
    top: 100px;
    align-items: center;
    
}
/*form styles*/
#formclass{
    padding-left: 550px;
    
    
}
#formclass id{
    display: flex;   
}
#formclass input [type ="text"], [class="mt-3 form-control"], [id="name"]{
    background: transparent;
}
#formclass input [type ="email"], [class="mt-3 form-control col-form-label"], [id="Email"]{
    background: transparent;
}
#formclass #Text-area{
    background: transparent;

}

/*style for image h*/

.portfolio #images{
    border: 3px snow;
    transition: color 0.5s;
}
.portfolio #images :hover img{
    color: seagreen;
}
#imageh img{
    
    width: fit-content;
}
/*js hiding*/
.text {
    display: none;
    text-align: center;
}
.text2 {
    display: none;
}
.text3{
    display:none;
}
#images img{
    padding-top: 30px;
    
    width: fit-content;
}
/*about paragraph*/
.about{
    margin: 20px;
}
.about {
    
    padding: 10px;
}


.about h4{
    text-transform: uppercase;
}
.about{
    text-align: center;

}
.about p{
    font-size: medium;
    
}
.about .paragraph p{
    font-size: larger;
    text-align: center;
    
}
.heading{
    text-transform: uppercase;
    text-align: center;
    
}
.row {
    float: center;
    padding: 20px;
    
}
/*portfolio images*/
.portfolio #images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 230px;

}
.portfolio #images{
    cursor: pointer;
    color: yellowgreen;
    
    
}

.portfolio img:hover{
    opacity: 0.3;
}
.portfolio #images img{
    padding-left: 20px;
    padding-right: 20px;

}
.portfolio :hover #images{
    color: yellowgreen;
}
/*all media icons*/
#mediaicons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.containor .formclass  {
    position: relative;
    text-align: center;
    color: white;}

.formclass{ 
    position: absolute;
}